build/*
dist/*
docs/_build/*
tddspry.egg-info/*

*.db-journal
*.pyc
*.pyo

.coverage
Makefile.def
MANIFEST
pip-log.txt
test.db
testproject/env/
testproject/bootstrap.cfg
testproject/Makefile
testproject.db
