build/*
dist/*
docs/_build/*
errors/*
tddspry.egg-info/*

*.db
*.db-journal
*.pyc
*.pyo

.coverage
MANIFEST
pip-log.txt

testproject/env/*
testproject/env*/*
testproject/bootstrap.cfg
testproject/settings_*local.py
