MySQL-python==1.2.3
Sphinx==1.0.5
coverage==2.8
datadiff
django-nose
nose==0.11.0
twill==0.9
unittest2==0.5.1

-e svn+http://code.djangoproject.com/svn/django/trunk/#egg=Django
-e hg+http://bitbucket.org/ubernostrum/django-registration#egg=django-registration
