{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Index' %}{% endblock %}

{% block content %}

<h2>{% trans 'Pages' %}</h2>

<ul>
    <li><a href="?query=string">{% trans "Query string" %}</a></li>
    <li><a href="{% url edit_hidden_fields %}">{% trans 'Edit hidden fields' %}</a></li>
    <li><a href="{% url multiply_forms %}">{% trans "Multiply forms" %}</a></li>
    <li><a href="{% url redirect %}">{% trans 'Redirect' %}</a></li>
    <li><a href="{% url users %}">{% trans 'Users list' %}</a></li>
</ul>

<hr />

<h2>{% trans "Quotes" %}</h2>

<pre>{% trans 'Text in "valid" quotes' %}</pre>
<pre>{% filter force_escape %}{% trans 'Text in "invalid" quotes' %}{% endfilter %}</pre>

<hr />

<pre>{% trans "c++ is good, but python - better ;)" %}</pre>
<pre>{% trans "python is good, but erlang - faster ;)" %}</pre>

{% if query %}<pre>request.GET['query'] = {{ query }}</pre>{% endif %}

{% endblock content %}
