{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}

<form action="" method="post">
    <fieldset>
        <legend>{% trans 'Login' %}</legend>

        {% if form.errors %}<h3>{% trans 'Please, cover errors listed below' %}</h3>{% endif %}

        {% for f in form %}<p><label for="{{ f.auto_id }}">{{ f.label }}</label>:
        {{ f }}{% if f.errors %}<br />&bull; {{ f.errors|join:", " }}{% endif %}</p>{% endfor %}

        <p><input type="submit" value="{% trans 'Log in' %}" /></p>
    </fieldset>
</form>

<p><small><a href="{% url index %}">{% trans 'To index page' %}</a></small></p>

{% endblock %}
